/* TO DO */
/*
asignarle n minwidth a las cards.
Para celular, colocar el aside encima de las cards
Verificar el tamaño de las fuentes del footer con respecto a las del main

*/

/* Constantes */
:root {
    --html-min-width: 440px;

    --banner-bg-color: rgb(228, 211, 211);
    --menu-bg-color: rgba(70, 7, 7, 0.9);
    --main-bg-color: white;
    --footer-bg-color:  rgb(228, 211, 211);

    --link-color: hsl(29, 73%, 61%);
    --hover-link-color: hsl(10, 73%, 61%);
    --active-link-color: hsl(10, 82%, 22%);
    --link-font-size: 1rem;
    --box-shadow-color: rgba(70, 7, 7, 0.5);
    --box-shadow-color2: rgba(70, 7, 7, 0.3);

    --font-family: 'Work Sans', sans-serif;
    --font-size: 0.5rem;
    --font-size: 1rem;

    --header-font-family: 'EB Garamond', serif;
    --logo-height: 75px;

    --box-shadow: 0rem 0.3rem 0.3rem var(--box-shadow-color), 0rem 0.6rem 0.5rem var(--box-shadow-color2);

    --banner-padding: 0 0.6rem 0;
    --banner-margin: 0 0.6rem 0.8rem;
    /* banner-height= altura del logo + padding del banner + margin */
    --banner-height: calc(var(--logo-height) + 0.8rem);

    --social-icon-height: 2rem;
    --social-icon-margin: 0rem 1rem 1rem 1rem;
    --footer-padding: 1rem 0.6rem 1rem;
    --footer-margin: 0 0.6rem 0.8rem;
    /* footer-height= altura texto + altura iconos + margen iconos +footer padding + footer margin*/
    --footer-height: calc(var(--font-size) + var(--social-icon-height) + 1rem + 2rem + 0.8rem);
    
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    box-sizing: border-box;
    min-width: var(--html-min-width);  /* restingimos el ancho mínimo para correcta visualizacion */
    transition: all 0.3s;
}


header {
    width: 100%;
    font-family: var(--header-font-family);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
    align-items: center;
    z-index: 1;
    height: var(--logo-height);
}    

a img {
    vertical-align: middle;
}

a span {
    vertical-align: middle;
}

.logo p {
    color: brown;
}

.navmenu { 
	display: flex;
    justify-content:flex-start; 
    align-items: center;
    gap: 0.3rem;
    flex-wrap: wrap;
    list-style-type: none;
} 

nav a {
    color: var(--link-color);
    transition-duration: 0.3s;
    text-decoration: none;
    font-size: var(--link-font-size);    
}

nav .material-symbols-outlined {
    color: var(--link-color);
    font-size: var(--link-font-size);
}

nav a:hover {
    color: var(--hover-link-color);
    cursor: pointer;
}

nav a:active {
    color: var(--active-link-color);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--banner-bg-color);
    padding: var(--banner-padding);
    box-shadow: var(--box-shadow);
    margin: var(--banner-margin);
}

/************************ Menu hamburguesa ***************************/
.btn-hamburguesa {
    color: var(--link-color);
    padding: 3px;
    border: none;
    background-color: var(--banner-bg-color); 
    transition-duration: 0.3s;
}

.btn-hamburguesa i {
    font-size: 60px;
}

.btn-hamburguesa:hover {
    color:rgb(196, 81, 43);
    cursor: pointer;
}

#menu-check {
    display: none;
}

body {
    min-height: 100vh;
}

/*+++++++++++++ MEDIA QUERYS ++++++++++++++*/

/* FORMATO POR DEFAULT: CELULAR */
/* @media only screen and (max-width: 439.90px) { */
 
    /* ocultamos el menú de navegación a la derecha de la ventana */
    header nav{
        height: fit-content;
        width: fit-content;
        top: var(--banner-height);    /*-total*/
        position: fixed;
        right: -100%;
        z-index: 1;
        transition-duration: 0.8s;
        background-color: var(--menu-bg-color);
    }    

    .navmenu {
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }

    nav.mostrar {
        right: 0;
        transition-duration: 0.8s;
    }
/* } *//* FIN CELULAR */


/* TABLET */
@media only screen and (min-width: 440px) and (max-width: 767.90px) {
/* header nav {
    background-color: red;
} */
}
/* FIN TABLET */


/* DESKTOP */
@media only screen and (min-width: 768px){

    .banner {
        justify-content:space-between;
        align-items: center;
        background-color: var(--banner-bg-color);
        box-shadow: var(--box-shadow);
        padding: var(--banner-padding);
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2em;
        align-items: center;
        z-index: 1;
        height: var(--logo-height);
    }    

    /*slogan*/
    .logo p {
        font-size: 1.3em;
        color: brown;
    }

    .btn-hamburguesa {
        display: none;
    }

    header nav{
        width: fit-content;
        position: -webkit-sticky;
        position: sticky;
        top: 0%;
        left: 0%;
        z-index: 1;
        margin: 10px;
        justify-content: space-between;
    }	

    .navmenu {
        gap: 0.8rem;
        flex-direction: row;
        background-color: var(--banner-bg-color);
        padding: 10px;
        width: fit-content;
    }
        
}
/* FIN DESKTOP */

/*------------------------- MAIN ------------------------*/

main {
    width: 100%;
    height: auto;  /*RESTAR HEADER Y FOOTER */
    min-height: calc(100vh - (var(--banner-height)) - (var(--footer-height)));
    /* min-height: calc(100vh - 134.2px); */
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around  ;
}


aside {
    width: 20vw;
    margin: 3rem 0 3rem 0;
    background-color: aqua;
    padding: var(--banner-padding);
}
/*------------------------- FIN MAIN ------------------------*/

/*------------------------ PRODUCTOS -------------------------*/

.multiple-product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
}

.single-product-container {
    border: solid 2px black;
    margin: 2vw;
    padding: 2vw;
    width: 30vw;
    height: 15vw;    
}

.product-img {
    background-color: aquamarine;
    background-image: url("../Imagenes/BuenosAiresNocturna.jpg");
    width: 50%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    float: left;
}

.epigrafe {
    width: 50%;
    display: inline-block;
    height: 100%;
    overflow-y: scroll;
    padding: 1em;
}

.epigrafe p {
    width: 100%;
}
/*----------------------- FIN PRODUCTOS ------------------------*/

/*--------------------------- FOOTER ----------------------------*/

footer {
    width: calc(100vw - 1.2rem);
    background-color: var(--footer-bg-color);
    text-align: center;
    font-weight: bold;
    padding: var(--footer-padding);
    box-shadow:var(--box-shadow);
    margin: var(--footer-margin);
}

/* iconos de redes sociales */
footer a img {
    height: var(--social-icon-height);
    margin: var(--social-icon-margin);
    width: auto;
}

/*------------------------- FIN FOOTER --------------------------*/